body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Fondo.png'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #ded4d4; /* Color de texto predeterminado */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
